<div class="footer">
    <ul>
        <li><a href="@Url.Action("About", "Pages")">About</a></li>
        <li><a href="@Url.Action("Contact", "Pages")">Contact</a></li>
        <li><a href="@Url.Action("Advertise", "Pages")">Advertise</a></li>
        <li><a href="@Url.Action("WriteForUs", "Pages")">Write for us</a></li>
        <li><a href="@Url.Action("Search", "Post")">Search</a></li>
        <li><a href="@Url.Action("Privacy", "Pages")">Privacy</a></li>
        <li><a href="@Url.Action("Terms", "Pages")">Terms</a></li>
        <li><a href="@Url.Action("Subscribe", "Pages")">Subscribe</a></li>
    </ul>
    <p>Copyright © @DateTime.Now.Year @ViewBag.SiteName. All Rights Reserved.</p>
</div>