@using System.Security.Claims
@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | @ViewBag.SiteName</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @RenderPage("_Fonts.cshtml")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/frontend")

    @RenderSection("scripts", required: false)
</head>

<body class="fadeIn animated">
    <div id="page-holder">
        <span class="side-menu-button icon-menu gradient" onclick="sidemenuToggle(this)" style="top: -100px; display: block;">
            <i class="fa fa-bars"></i>
        </span>

        @RenderPage("../Home/Sidebar.cshtml")

        <div id="content-holder">
            <div class="head-logo">
                <a href="@Url.Action("Index", "Home")" class="logo">
                    <i style="font-size: 85px;" class="fa fa-diamond"></i>
                </a>
            </div>

            @RenderPage("_MainMenu.cshtml")

            <div class="content-container">
                <div class="inner">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    @Html.Raw(ViewBag.GoogleAnalytics)

    @RenderPage("_Footer.cshtml")
</body>
</html>
