<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Administration | @ViewBag.SiteName - @ViewBag.Slogan</title>
        @Scripts.Render("~/bundles/modernizr")

        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,200,100,500,600,700,800,900' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Cabin:400,500,600,700,400italic,500italic,600italic,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,900italic,900,700italic,700,500italic,500,400italic,300,100italic,100,300italic' rel='stylesheet' type='text/css'>
        
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)

        <link href="~/Content/sweetalert.css" rel="stylesheet" />
        <script src="~/Scripts/sweetalert-dev.js"></script>

        <script src="~/Scripts/global_script.js"></script>

        <link href="~/Content/font-awesome.css" rel="stylesheet" />
        <link href="~/Content/bootstrap.css" rel="stylesheet" />
        <link href="~/Content/animate.css" rel="stylesheet" />
        <link href="~/Content/light-bootstrap-dashboard.css" rel="stylesheet" />
        <link href="~/Content/pe-icon-7-stroke.css" rel="stylesheet" />
        <link href="~/Content/Admin.css" rel="stylesheet" />
        <link href="~/Content/chartist.min.css" rel="stylesheet" />
        
        <script src="~/Scripts/bootstrap-select.js"></script>
        <script src="~/Scripts/bootstrap-notify.js"></script>
        <script src="~/Scripts/bootstrap-checkbox-radio-switch.js"></script>
        <script src="~/Scripts/light-bootstrap-dashboard.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                $.notify({
                    icon: 'pe-7s-gift',
                    message: "Welcome to <b>Light Bootstrap Dashboard</b> - a beautiful freebie for every web developer."

                }, {
                    type: 'info',
                    timer: 2000
                });
            });
        </script>
    </head>

    <body class="fadeIn animated">
        <div class="wrapper">
            <div class="sidebar" data-color="grey" data-image="http://@HttpContext.Current.Request.Url.Authority/Content/Resources/Images/bg-admin.jpg">
                <div class="sidebar-wrapper">
                    <div class="logo">
                        <a href="@Url.Action("Index", "Home")" class="simple-text">
                            <i class="fa fa-diamond fa-2x"></i>
                        </a>
                    </div>

                    <ul class="nav">
                        <li class="_dashboard">
                            <a href="#">
                                <i class="pe-7s-graph"></i>
                                <p>Dashboard</p>
                            </a>
                        </li>

                        <li class="_icons">
                            <a href="@Url.Action("Index", "Icons")">
                                <i class="pe-7s-paint"></i>
                                <p>Icons</p>
                            </a>
                        </li>

                        <li class="_categories">
                            <a href="@Url.Action("Index", "Category")">
                                <i class="pe-7s-way"></i>
                                <p>Categories</p>
                            </a>
                        </li>

                        <li class="_post">
                            <a href="@Url.Action("Index", "Post")">
                                <i class="pe-7s-news-paper"></i>
                                <p>Post</p>
                            </a>
                        </li>

                        <li class="_categories">
                            <a href="@Url.Action("Index", "Comments")">
                                <i class="pe-7s-plugin"></i>
                                <p>Comments</p>
                            </a>
                        </li>

                        <li>
                            <a href="@Url.Action("Index", "Social")">
                                <i class="pe-7s-global"></i>
                                <p>Social</p>
                            </a>
                        </li>

                        <li>
                            <a href="@Url.Action("Index", "Configuration")">
                                <i class="pe-7s-config"></i>
                                <p>Configuration</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="main-panel">
                <nav class="navbar navbar-default navbar-fixed">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">Dashboard</a>
                        </div>

                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav navbar-left">
                                <li>
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-dashboard"></i>
                                    </a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-globe"></i>
                                        <b class="caret"></b>
                                        <span class="notification">5</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Notification 1</a></li>
                                        <li><a href="#">Notification 2</a></li>
                                        <li><a href="#">Notification 3</a></li>
                                        <li><a href="#">Notification 4</a></li>
                                        <li><a href="#">Another notification</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="fa fa-search"></i>
                                    </a>
                                </li>
                            </ul>

                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a href="">
                                        Account
                                    </a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-list"></i>
                                        <!--<b class="caret"></b>-->
                                    </a>
                                    <ul class="dropdown-menu dropdown-with-icons">
                                        <li>
                                            <a href="#">
                                                <i class="pe-7s-mail"></i> Messages
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="pe-7s-help1"></i> Help Center
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="pe-7s-tools"></i> Settings
                                            </a>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a href="#">
                                                <i class="pe-7s-lock"></i> Lock Screen
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="text-danger">
                                                <i class="pe-7s-close-circle"></i>
                                                Log out
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>

                <div class="content">
                    <div class="container-fluid">
                        @RenderBody()
                    </div>
                </div>
                
                <footer class="footer">
                    <div class="container-fluid">
                        <nav class="pull-left">
                            <ul>
                                <li><a href="@Url.Action("About", "Pages")">About</a></li>
                                <li><a href="@Url.Action("Chat", "Pages")">Chat</a></li>
                                <li><a href="@Url.Action("Contact", "Pages")">Contact</a></li>
                                <li><a href="@Url.Action("Advertise", "Pages")">Advertise</a></li>
                                <li><a href="@Url.Action("WriteForUs", "Pages")">Write for us</a></li>
                                <li><a href="@Url.Action("Search", "Post")">Search</a></li>
                                <li><a href="@Url.Action("Privacy", "Pages")">Privacy</a></li>
                                <li><a href="@Url.Action("Terms", "Pages")">Terms</a></li>
                                <li><a href="@Url.Action("Subscribe", "Pages")">Subscribe</a></li>
                            </ul>
                        </nav>
                        <p class="copyright pull-right">
                            &copy; @DateTime.Now.Year @ViewBag.SiteName. All Rights Reserved. Create with <span style="color:#ed2626">♥</span> by nesticle8bit
                        </p>
                    </div>
                </footer>
            </div>
        </div>

        @*<script type="text/javascript">
            $(window).bind("load", function () {
                alert(window.location.pathname.toString());

                switch (window.location.pathname.toString()) {
                    case '/Icons':
                        $('_icons').addClass('active');
                        break;
                    case '/Category':
                        $('_categories').addClass('active');
                        break;
                    case '/Category':
                        $('_categories').addClass('active');
                        break;
                }
            });
        </script>*@

        <script id="dsq-count-scr" src="//cmsscriptv01.disqus.com/count.js" async></script>
    </body>
</html>
