<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | @ViewBag.SiteName</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,200,100,500,600,700,800,900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Cabin:400,500,600,700,400italic,500italic,600italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,900italic,900,700italic,700,500italic,500,400italic,300,100italic,100,300italic' rel='stylesheet' type='text/css'>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>

<body class="fadeIn animated">
    <div id="page-holder">
        <span class="side-menu-button icon-menu gradient" onclick="sidemenuToggle(this)" style="top: -100px; display: block;">
            <i class="fa fa-bars"></i>
        </span>

        @RenderPage("../Home/Sidebar.cshtml")

        <div id="content-holder">
            <div class="head-logo">
                <a href="@Url.Action("Index", "Home")" class="logo">
                    <i style="font-size: 85px;" class="fa fa-diamond"></i>
                </a>
            </div>

            <header class="gradient">
                <div class="inner">
                    <div class="clear"></div>
                    <ul class="main-nav left-nav">
                        <li>
                            <div class="dropdown-wrapper">
                                <div class="triangle"></div>
                                <ul class="categories">
                                    @for (int i = 0; i < ViewBag.Categorias.Count; i++)
                                    {
                                        <li>
                                            <a href="@Url.Action("Category", "Post", new { id = @ViewBag.Categorias[i].Id })">
                                                @ViewBag.Categorias[i].Name
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                            <a href="#">
                                <i class="fa fa-bars"></i>
                                <span class="text">Categories</span>
                            </a>
                        </li>
                        <li class="border"></li>
                        <li>
                            <a href="@Url.Action("About", "Pages")">
                                <i class="fa fa-info-circle"></i>
                                <span class="text">About us</span>
                            </a>
                        </li>

                        <li class="border"></li>

                        <li>
                            <a href="@Url.Action("Index", "Admin")">
                                <i class="fa fa-lock"></i>
                                <span class="text">Administration</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="main-nav right-nav">
                        <li>
                            <div class="dropdown-wrapper">
                                <div class="triangle"></div>
                                <ul class="categories">
                                    @if (ViewBag.SocialNetwork != null)
                                    {
                                        for (int i = 0; i < ViewBag.SocialNetwork.Count; i++)
                                        {
                                            <li>
                                                <a href="@ViewBag.SocialNetwork[i].Link" target="_blank">
                                                    <i class="@ViewBag.SocialNetwork[i].Icon.IconName"></i>
                                                    <span class="text">
                                                        @ViewBag.SocialNetwork[i].Name
                                                    </span>
                                                </a>
                                            </li>
                                        }
                                    }

                                    <li class="desc">
                                        @*<span>400145 Subscribers &amp; Followers</span>*@
                                    </li>
                                </ul>
                            </div>
                            <a href="#">
                                <i class="fa fa-hashtag"></i>
                                <span class="text">Follow us</span>
                            </a>
                        </li>
                        <li class="border"></li>

                        <li>
                            <a href="#" onclick="searchToggle(); return false;" class="search-button">
                                <i class="fa fa-search"></i>
                                <span class="text">Search</span>
                            </a>
                        </li>
                    </ul>
                    <div class="clear"></div>
                </div>
                <div class="search-holder">
                    <form method="get" action="/search/">
                        <input type="text" name="q" placeholder="search text" class="search-input">
                        <span class="fa fa-times close" onclick="searchToggle($('.search-button')); return false;"></span>
                    </form>
                </div>
            </header>

            <div class="content-container">
                <div class="inner">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    @RenderPage("_Footer.cshtml")
</body>
</html>
