@using System.Security.Claims
@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.SiteName - @ViewBag.Slogan</title>
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,200,100,500,600,700,800,900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Cabin:400,500,600,700,400italic,500italic,600italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,900italic,900,700italic,700,500italic,500,400italic,300,100italic,100,300italic' rel='stylesheet' type='text/css'>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>

<body class="fadeIn animated">
    <div id="page-holder">
        <span class="side-menu-button icon-menu gradient" onclick="sidemenuToggle(this)" style="top: -100px; display: block;">
            <i class="fa fa-bars"></i>
        </span>

        @RenderPage("../Home/Sidebar.cshtml")

        <div id="content-holder">
            <div class="head-logo">
                <a href="@Url.Action("Index", "Home")" class="logo">
                    <i style="font-size: 85px;" class="fa fa-diamond"></i>
                </a>
            </div>

            <header class="gradient">
                <div class="inner">
                    <div class="clear"></div>
                    <ul class="main-nav left-nav">
                        <li>
                            <div class="dropdown-wrapper">
                                <div class="triangle"></div>
                                <ul class="categories">
                                    @for (int i = 0; i < ViewBag.Categorias.Count; i++)
                                    {
                                        <li>
                                            <a href="@Url.Action("Category", "Post", new { id = @ViewBag.Categorias[i].Id })">
                                                @ViewBag.Categorias[i].Name
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                            <a href="#">
                                <i class="fa fa-bars"></i>
                                <span class="text">Categories</span>
                            </a>
                        </li>

                        <li class="border"></li>

                        <li>
                            <a href="@Url.Action("About", "Pages")">
                                <i class="fa fa-info-circle"></i>
                                <span class="text">About us</span>
                            </a>
                        </li>

                        <li class="border"></li>

                        <li>
                            <a href="@Url.Action("Index", "Admin")">
                                <i class="fa fa-lock"></i>
                                <span class="text">Administration</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="main-nav right-nav">
                        <li>
                            <div class="dropdown-wrapper">
                                <div class="triangle"></div>
                                <ul class="categories">
                                    @if (ViewBag.SocialNetwork != null)
                                    {
                                        for (int i = 0; i < ViewBag.SocialNetwork.Count; i++)
                                        {
                                            <li>
                                                <a href="@ViewBag.SocialNetwork[i].Link" target="_blank">
                                                    <i class="@ViewBag.SocialNetwork[i].Icon.IconName"></i>
                                                    <span class="text">
                                                        @ViewBag.SocialNetwork[i].Name
                                                    </span>
                                                </a>
                                            </li>
                                        }
                                    }
                                    <li class="desc">
                                        @*<span>400145 Subscribers &amp; Followers</span>*@
                                    </li>
                                </ul>
                            </div>
                            <a href="#">
                                <i class="fa fa-hashtag"></i>
                                <span class="text">Follow us</span>
                            </a>
                        </li>
                        <li class="border"></li>

                        <li>
                            <a href="#" onclick="searchToggle(); return false;" class="search-button">
                                <i class="fa fa-search"></i>
                                <span class="text">Search</span>
                            </a>
                        </li>

                        @if (User.Identity.IsAuthenticated == true)
                        {
                            var identity = (ClaimsIdentity)User.Identity;
                            var name = identity.FindFirstValue(ClaimTypes.GivenName) ?? identity.GetUserName();

                            <li class="border"></li>

                            <li>
                                <div class="dropdown-wrapper">
                                    <div class="triangle"></div>
                                    <ul class="categories">
                                        <li>
                                            <a href="#">
                                                <span class="text">
                                                    Profile
                                                </span>
                                            </a>

                                            <a href="#">
                                                <span class="text">
                                                    Account
                                                </span>
                                            </a>

                                            <a href="#">
                                                <span class="text">
                                                    Posts
                                                </span>
                                            </a>

                                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" })) {
                                                @Html.AntiForgeryToken()
                                                <a href="javascript:document.getElementById('logoutForm').submit()">
                                                    Log out
                                                </a>
                                            }
                                        </li>
                                    </ul>
                                </div>

                                <a href="#">
                                    <i class="fa fa-user"></i>
                                    <span class="text">Welcome @name</span>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="border"></li>

                            <li>
                                <a href="#">
                                    <i class="fa fa-user"></i>
                                    <span class="text">Login</span>
                                </a>
                            </li>
                        }
                    </ul>
                    <div class="clear"></div>
                </div>
                <div class="search-holder">
                    @using (Html.BeginForm("Search", "Post", FormMethod.Get, new { @class = "search-form" }))
                    {
                        <input type="text" value="" name="q" placeholder="search text" class="search-input">
                        <span class="fa fa-times close" onclick="searchToggle($('.search-button')); return false;"></span>
                    }
                </div>
            </header>

            <div class="content-container">
                <div class="inner">
                    <div class="content-wrap">
                        <div class="inner">
                            @RenderBody()
                        </div>
                    </div>
                    @RenderPage("_Sidebar.cshtml")
                </div>
            </div>
        </div>
    </div>

    @RenderPage("_Footer.cshtml")

    <div id="fb-root"></div>
    <script type="text/javascript">
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.5&appId=107545726022674";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <script src="https://apis.google.com/js/platform.js" async defer>
        { lang: 'es' }
    </script>

    <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
</body>
</html>
