<div class="sidebar-wrapper">
    <div class="logo">
        <a href="@Url.Action("Index", "Home")" class="simple-text">
            <i class="fa fa-diamond fa-2x"></i>
        </a>
    </div>

    <ul class="nav">
        <li class="_dashboard">
            <a href="#">
                <i class="pe-7s-graph"></i>
                <p>Dashboard</p>
            </a>
        </li>

        <li class="_categories">
            <a href="@Url.Action("Index", "Category")">
                <i class="pe-7s-way"></i>
                <p>Categories</p>
            </a>
        </li>

        <li class="_civilStatus">
            <a href="@Url.Action("Index", "CivilStatus")">
                <i class="pe-7s-rocket"></i>
                <p>Civil Status</p>
            </a>
        </li>

        <li class="_configuration">
            <a href="@Url.Action("Index", "Configuration")">
                <i class="pe-7s-config"></i>
                <p>Configuration</p>
            </a>
        </li>

        <li class="_comments">
            <a href="@Url.Action("Index", "Comments")">
                <i class="pe-7s-comment"></i>
                <p>Comments</p>
            </a>
        </li>

        <li class="_comments">
            <a href="@Url.Action("Index", "Gender")">
                <i class="pe-7s-female"></i>
                <p>Genders</p>
            </a>
        </li>

        <li class="_icons">
            <a href="@Url.Action("Index", "Icons")">
                <i class="pe-7s-paint"></i>
                <p>Icons</p>
            </a>
        </li>

        <li class="_post">
            <a href="@Url.Action("Index", "Post")">
                <i class="pe-7s-news-paper"></i>
                <p>Post</p>
            </a>
        </li>

        <li>
            <a href="@Url.Action("Index", "Sector")">
                <i class="pe-7s-medal"></i>
                <p>Sector</p>
            </a>
        </li>

        <li>
            <a href="@Url.Action("Index", "Social")">
                <i class="pe-7s-global"></i>
                <p>Social</p>
            </a>
        </li>

        <li>
            <a href="@Url.Action("Index", "Messenger")">
                <i class="pe-7s-speaker"></i>
                <p>Messenger</p>
            </a>
        </li>

        <li>
            <a href="@Url.Action("Index", "User")">
                <i class="pe-7s-users"></i>
                <p>Users</p>
            </a>
        </li>
    </ul>
</div>