@model IEnumerable<News_System.Models.Sector>

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Index";
}

<div class="col-md-12">
    <a id="create" class="btn btn-success">
        <i class="fa fa-plus"></i> Create a Sector
    </a>

    <div class="clearfix"></div>
    <br />

    <div class="card">
        <div class="header">
            <h4 class="title">Sector</h4>
            <p class="category">List of Sectors</p>
        </div>

        <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped table-responsive">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Id)</th>
                        <th>@Html.DisplayNameFor(model => model.Name)</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Id)</td>
                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                            <td>
                                <a id="edit" class="btn btn-warning btn-xs" data-toggle="tooltip" data-placement="top" title="Edit Sector" data-id="@item.Id">
                                    <i class="fa fa-pencil"></i>
                                </a>

                                <a id="remove" class="btn btn-danger btn-xs" data-toggle="tooltip" data-placement="top" title="Delete Sector" data-id="@item.Id">
                                    <i class="fa fa-remove"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>

<div id="modalDetails" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">
                    <span id="titleOfModal"></span>
                </h4>
            </div>

            <form id="modalForm">
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <div class="form-group">
                        <input id="id" type="hidden" class="form-control" />
                        <label for="name">Sector Name</label>
                        <input id="name" type="text" class="form-control" placeholder="Sector" autocomplete="off" />
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        <i class="fa fa-times"></i> Cancel
                    </button>

                    <button type="submit" class="btn btn-success">
                        <i class="fa fa-check"></i> Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Scripts/Sector/sector.js"></script>
}
