@model News_System.Models.AdminViewModels

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Administration";
}

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="header">
                <h4 class="title">Email Statistics</h4>
                <p class="category">Last Campaign Performance</p>
            </div>
            <div class="content">
                <div id="chartPreferences" class="ct-chart ct-perfect-fourth"></div>

                <div class="footer">
                    <div class="legend">
                        <i class="fa fa-circle text-info"></i> Open
                        <i class="fa fa-circle text-danger"></i> Bounce
                        <i class="fa fa-circle text-warning"></i> Unsubscribe
                    </div>
                    <hr>
                    <div class="stats">
                        <i class="fa fa-clock-o"></i> Campaign sent 2 days ago
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div class="card">
            <div class="header">
                <h4 class="title">Users Behavior</h4>
                <p class="category">24 Hours performance</p>
            </div>
            <div class="content">
                <div id="chartHours" class="ct-chart"><svg xmlns:ct="http://gionkunz.github.com/chartist-js/ct" width="100%" height="245px" class="ct-chart-line" style="width: 100%; height: 245px;"><g class="ct-grids"><line y1="210" y2="210" x1="50" x2="1002" class="ct-grid ct-vertical"></line><line y1="185.625" y2="185.625" x1="50" x2="1002" class="ct-grid ct-vertical"></line><line y1="161.25" y2="161.25" x1="50" x2="1002" class="ct-grid ct-vertical"></line><line y1="136.875" y2="136.875" x1="50" x2="1002" class="ct-grid ct-vertical"></line><line y1="112.5" y2="112.5" x1="50" x2="1002" class="ct-grid ct-vertical"></line><line y1="88.125" y2="88.125" x1="50" x2="1002" class="ct-grid ct-vertical"></line><line y1="63.75" y2="63.75" x1="50" x2="1002" class="ct-grid ct-vertical"></line><line y1="39.375" y2="39.375" x1="50" x2="1002" class="ct-grid ct-vertical"></line><line y1="15" y2="15" x1="50" x2="1002" class="ct-grid ct-vertical"></line></g><g><g class="ct-series ct-series-a"><path d="M50,210L50,140.044C89.667,140.044,129.333,116.156,169,116.156C208.667,116.156,248.333,90.563,288,90.563C327.667,90.563,367.333,90.075,407,90.075C446.667,90.075,486.333,74.963,526,74.963C565.667,74.963,605.333,67.163,645,67.163C684.667,67.163,724.333,39.863,764,39.863C803.667,39.863,843.333,40.594,883,40.594C922.667,40.594,962.333,26.7,1002,26.7C1041.667,26.7,1081.333,17.925,1121,17.925C1160.667,17.925,1200.333,3.787,1240,3.787C1279.667,3.787,1319.333,-20.1,1359,-20.1L1359,210Z" class="ct-area" values="[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object]"></path></g><g class="ct-series ct-series-b"><path d="M50,210L50,193.669C89.667,193.669,129.333,172.95,169,172.95C208.667,172.95,248.333,175.144,288,175.144C327.667,175.144,367.333,151.5,407,151.5C446.667,151.5,486.333,140.044,526,140.044C565.667,140.044,605.333,128.344,645,128.344C684.667,128.344,724.333,103.969,764,103.969C803.667,103.969,843.333,103.481,883,103.481C922.667,103.481,962.333,78.619,1002,78.619C1041.667,78.619,1081.333,77.887,1121,77.887C1160.667,77.887,1200.333,77.4,1240,77.4C1279.667,77.4,1319.333,52.294,1359,52.294L1359,210Z" class="ct-area" values="[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object]"></path></g><g class="ct-series ct-series-c"><path d="M50,210L50,204.394C89.667,204.394,129.333,182.456,169,182.456C208.667,182.456,248.333,193.669,288,193.669C327.667,193.669,367.333,183.675,407,183.675C446.667,183.675,486.333,163.688,526,163.688C565.667,163.688,605.333,151.744,645,151.744C684.667,151.744,724.333,135.169,764,135.169C803.667,135.169,843.333,134.925,883,134.925C922.667,134.925,962.333,102.994,1002,102.994C1041.667,102.994,1081.333,110.063,1121,110.063C1160.667,110.063,1200.333,110.063,1240,110.063C1279.667,110.063,1319.333,85.931,1359,85.931L1359,210Z" class="ct-area" values="[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object]"></path></g></g><g class="ct-labels"><foreignObject style="overflow: visible;" x="50" y="215" width="119" height="20"><span class="ct-label ct-horizontal ct-end" style="width: 119px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">9:00AM</span></foreignObject><foreignObject style="overflow: visible;" x="169" y="215" width="119" height="20"><span class="ct-label ct-horizontal ct-end" style="width: 119px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">12:00AM</span></foreignObject><foreignObject style="overflow: visible;" x="288" y="215" width="119" height="20"><span class="ct-label ct-horizontal ct-end" style="width: 119px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">3:00PM</span></foreignObject><foreignObject style="overflow: visible;" x="407" y="215" width="119" height="20"><span class="ct-label ct-horizontal ct-end" style="width: 119px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">6:00PM</span></foreignObject><foreignObject style="overflow: visible;" x="526" y="215" width="119" height="20"><span class="ct-label ct-horizontal ct-end" style="width: 119px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">9:00PM</span></foreignObject><foreignObject style="overflow: visible;" x="645" y="215" width="119" height="20"><span class="ct-label ct-horizontal ct-end" style="width: 119px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">12:00PM</span></foreignObject><foreignObject style="overflow: visible;" x="764" y="215" width="119" height="20"><span class="ct-label ct-horizontal ct-end" style="width: 119px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">3:00AM</span></foreignObject><foreignObject style="overflow: visible;" x="883" y="215" width="119" height="20"><span class="ct-label ct-horizontal ct-end" style="width: 119px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">6:00AM</span></foreignObject><foreignObject style="overflow: visible;" y="185.625" x="10" height="24.375" width="30"><span class="ct-label ct-vertical ct-start" style="height: 24px; width: 30px" xmlns="http://www.w3.org/1999/xhtml">0</span></foreignObject><foreignObject style="overflow: visible;" y="161.25" x="10" height="24.375" width="30"><span class="ct-label ct-vertical ct-start" style="height: 24px; width: 30px" xmlns="http://www.w3.org/1999/xhtml">100</span></foreignObject><foreignObject style="overflow: visible;" y="136.875" x="10" height="24.375" width="30"><span class="ct-label ct-vertical ct-start" style="height: 24px; width: 30px" xmlns="http://www.w3.org/1999/xhtml">200</span></foreignObject><foreignObject style="overflow: visible;" y="112.5" x="10" height="24.375" width="30"><span class="ct-label ct-vertical ct-start" style="height: 24px; width: 30px" xmlns="http://www.w3.org/1999/xhtml">300</span></foreignObject><foreignObject style="overflow: visible;" y="88.125" x="10" height="24.375" width="30"><span class="ct-label ct-vertical ct-start" style="height: 24px; width: 30px" xmlns="http://www.w3.org/1999/xhtml">400</span></foreignObject><foreignObject style="overflow: visible;" y="63.75" x="10" height="24.375" width="30"><span class="ct-label ct-vertical ct-start" style="height: 24px; width: 30px" xmlns="http://www.w3.org/1999/xhtml">500</span></foreignObject><foreignObject style="overflow: visible;" y="39.375" x="10" height="24.375" width="30"><span class="ct-label ct-vertical ct-start" style="height: 24px; width: 30px" xmlns="http://www.w3.org/1999/xhtml">600</span></foreignObject><foreignObject style="overflow: visible;" y="15" x="10" height="24.375" width="30"><span class="ct-label ct-vertical ct-start" style="height: 24px; width: 30px" xmlns="http://www.w3.org/1999/xhtml">700</span></foreignObject><foreignObject style="overflow: visible;" y="-15" x="10" height="30" width="30"><span class="ct-label ct-vertical ct-start" style="height: 30px; width: 30px" xmlns="http://www.w3.org/1999/xhtml">800</span></foreignObject></g></svg></div>
                <div class="footer">
                    <div class="legend">
                        <i class="fa fa-circle text-info"></i> Open
                        <i class="fa fa-circle text-danger"></i> Click
                        <i class="fa fa-circle text-warning"></i> Click Second Time
                    </div>
                    <hr>
                    <div class="stats">
                        <i class="fa fa-history"></i> Updated 3 minutes ago
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card ">
            <div class="header">
                <h4 class="title">2014 Sales</h4>
                <p class="category">All products including Taxes</p>
            </div>
            <div class="content">
                <div id="chartActivity" class="ct-chart">
                    <div class="ct-chart ct-perfect-fourth"></div>
                </div>

                <div class="footer">
                    <div class="legend">
                        <i class="fa fa-circle text-info"></i> Tesla Model S
                        <i class="fa fa-circle text-danger"></i> BMW 5 Series
                    </div>
                    <hr>
                    <div class="stats">
                        <i class="fa fa-check"></i> Data information certified
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card ">
            <div class="header">
                <h4 class="title">Comments</h4>
                <p class="category">Last Comments in the Community</p>
            </div>
            <div class="content">
                <div class="table-responsive table-full-width">
                    <table class="table table-hover table-striped table-responsive">
                        <thead>
                            <tr>
                                <td>Approved</td>
                                <td>@Html.DisplayNameFor(model => model.Post)</td>
                                <td>@Html.DisplayNameFor(model => model.Comment)</td>
                                <td>Actions</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Comment)
                            {
                                <tr>
                                    <td>
                                        <label id="approve_comments" class="checkbox" data-toggle="tooltip" data-placement="top" title="@(item.Deleted == false ? "Hide this Comment?" : "Approve this Comment?")">
                                            @Html.CheckBoxFor(modelItem => item.Approved, htmlAttributes: new { @data_toggle = "checkbox", @data_id = item.Id })
                                        </label>
                                    </td>
                                    <td>
                                        <span class="text-large text-medium" title="@Html.DisplayFor(modelItem => item.Post.Title)" data-toggle="tooltip" data-placement="top">@Html.DisplayFor(modelItem => item.Post.Title)</span>
                                    </td>
                                    <td>
                                        <span class="text-large" tabindex="0" data-toggle="popover" data-trigger="hover" title="Content of the Comment" data-content="@Html.DisplayFor(modelItem => item.Comment1)" data-placement="top">
                                            @Html.DisplayFor(modelItem => item.Comment1)
                                        </span>
                                    </td>

                                    <td class="td-actions text-right">
                                        <button id="edit" type="button" rel="tooltip" title="" class="btn btn-info btn-simple btn-xs" data-original-title="Approve Comment" data-id="@item.Id">
                                            <i class="fa fa-pencil"></i>
                                        </button>
                                        <button id="remove" type="button" rel="tooltip" title="" class="btn btn-danger btn-simple btn-xs" data-original-title="Remove Comment" data-id="@item.Id">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div class="footer">
                    <hr>
                    <div class="stats">
                        <i class="fa fa-history"></i> Updated 3 minutes ago
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalComments" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">
                    <span id="titleOfModal"></span>
                </h4>
            </div>

            <form id="formComments">
                @Html.AntiForgeryToken()

                <div class="modal-body">
                    <input id="idComment" type="hidden" class="form-control" />

                    <div class="form-group">
                        <label for="name">Post</label>
                        <input id="postComment" type="text" disabled class="form-control" placeholder="Post" />
                    </div>

                    <div class="form-group">
                        <label for="comment">Comment</label>
                        <textarea id="containerComment" class="form-control" placeholder="Insert here the Comment" rows="8"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="time">Time</label>
                        <input id="timeComment" type="text" disabled class="form-control" placeholder="Time" />
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        <i class="fa fa-times"></i> Cancel
                    </button>

                    <button type="submit" class="btn btn-success">
                        <i class="fa fa-check"></i> Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/chartist.min.js"></script>

    <script src="~/Scripts/Admin/admin.js"></script>
}
