@model IEnumerable<News_System.Models.Post>
@{
    ViewBag.Title = "Search Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="section-title">Search articles: "@ViewBag.SearchParam"<span></span></h4>
<div class="search-box">
    @using (Html.BeginForm("Search", "Post", FormMethod.Get, new { @class = "search-form" }))
    {
        <input type="text" value="" name="q">
        <button type="submit">
            <span class="fa fa-search fa-2x"></span>
        </button>
    }
</div>

@if (Model != null)
{
    foreach (var item in Model)
    {
        <article class="horizontal">
            <a href="#" class="article-thumbnail">
                <img src="~/Files/@Html.DisplayFor(modelItem => item.Image)">
            </a>
            <div class="article-info">
                <div class="article-meta">
                    <ul>
                        <li><a href="#">@Html.DisplayFor(modelItem => item.Time)</a></li>
                        <li class="divider">/</li>
                        <li><a href="#">@Html.DisplayFor(modelItem => item.Category.Name)</a></li>
                        <li class="divider">/</li>
                        <li>
                            <a href="@Url.Action("ViewPost", "Post", new { id = item.Id })#comments">
                                @Html.DisplayFor(modelItem => item.Comment.Count) @(item.Comment.Count == 0 || item.Comment.Count > 1 ? "Comments" : "Comment")
                            </a>
                        </li>
                    </ul>
                </div>
                <h2 class="article-title">
                    <a href="@Url.Action("ViewPost", "Post", new { id = item.Id })" title="@Html.DisplayFor(modelItem => item.Title)">@Html.DisplayFor(modelItem => item.Title)</a>
                </h2>

                <p>
                    @Html.DisplayFor(modelItem => item.Description).ToString().Substring(0, 50)...
                </p>
            </div>
            <div class="clear"></div>
        </article>
    }
}
