@model News_System.Models.HomeViewModel

@{
    ViewBag.Title = "Home Page";
}

<h4 class="section-title">Highlight articles<span></span></h4>

<div class="top-articles-list">
    @foreach (var item in Model.Posts)
    {
        if (item.Highlight == true)
        {
            <article class="vertical">
                <a href="@Url.Action("ViewPost", "Post", new { id = item.Id })" class="article-thumbnail">
                    <img src="~/Files/@Html.DisplayFor(modelItem => item.Image)" />
                </a>
                <div class="article-info">
                    <div class="article-meta">
                        <ul>
                            <li><a href="@Url.Action("ViewPost", "Post", new { id = item.Id })">@Html.DisplayFor(modelItem => item.Time)</a></li>
                            <li class="divider">/</li>
                            <li>
                                <a href="@Url.Action("Category", "Post", new { id = item.Category.Id })">
                                    @Html.DisplayFor(modelItem => item.Category.Name)
                                </a>
                            </li>
                            <li class="divider">/</li>
                            <li>
                                <a href="@Url.Action("ViewPost", "Post", new { id = item.Id })#comments">
                                    @Html.DisplayFor(modelItem => item.Comment.Count) @(item.Comment.Count == 0 || item.Comment.Count > 1 ? "Comments" : "Comment")
                                </a>
                            </li>
                        </ul>
                    </div>
                    <h2 class="article-title">
                        <a href="@Url.Action("ViewPost", "Post", new { id = item.Id })" title="@Html.DisplayFor(modelItem => item.Title)">
                            @Html.DisplayFor(modelItem => item.Title)
                        </a>
                    </h2>
                </div>
                <div class="clear"></div>
            </article>
        }
    }
    <div class="clear"></div>
</div>

@*<div class="ad-page-responsive">
    <center>
        @Html.Raw(ViewBag.Ads_728)
    </center>
</div>*@

<h4 class="section-title">Latest articles<span></span></h4>

@foreach (var item in Model.Posts)
{
    if (item.Highlight == false)
    {
        <article class="horizontal">
            <a href="@Url.Action("ViewPost", "Post", new { id = item.Id })" class="article-thumbnail">
                <img src="~/Files/@Html.DisplayFor(modelItem => item.Image)" />
            </a>
            <div class="article-info">
                <div class="article-meta">
                    <ul>
                        <li>
                            <a href="@Url.Action("ViewPost", "Post", new { id = item.Id })" title="@Html.DisplayFor(modelItem => item.Time)">
                                @Html.DisplayFor(modelItem => item.Time)
                            </a>
                        </li>
                        <li class="divider">/</li>
                        <li>
                            <a href="@Url.Action("Category", "Post", new { id = item.Category.Id })">
                                @Html.DisplayFor(modelItem => item.Category.Name)
                            </a>
                        </li>
                        <li class="divider">/</li>
                        <li>
                            <a href="@Url.Action("ViewPost", "Post", new { id = item.Id })#comments">
                                @Html.DisplayFor(modelItem => item.Comment.Count) @(item.Comment.Count == 0 || item.Comment.Count > 1 ? "Comments" : "Comment")
                            </a>
                        </li>
                    </ul>
                </div>
                <h2 class="article-title">
                    <a href="@Url.Action("ViewPost", "Post", new { id = item.Id })" title="@Html.DisplayFor(modelItem => item.Title)">
                        @Html.DisplayFor(modelItem => item.Title)
                    </a>
                </h2>

                <p>
                    @Html.DisplayFor(modelItem => item.Description).ToString().Substring(0, 25)...
                </p>
            </div>
            <div class="clear"></div>
        </article>
    }
}