@{
    Layout = "~/Views/Shared/_LayoutNoSidebar.cshtml";
    ViewBag.Title = "About us";
}

@*<h3>@ViewBag.Message</h3>*@

<div class="fullwidth-module">
    <h2>@ViewBag.Title!</h2>
    <p>Lorem ipsum dolor sit amet</p>
</div>
<div class="fullwidth-additional-info">
    <div class="box">
        <h2>Lorem ipsum dolor sit amet</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lacus tellus, consequat sed tincidunt ac, hendrerit non purus. Sed accumsan dolor vel purus mattis congue. In ac lacus sed mi sollicitudin vulputate.</p>
    </div>
    <div class="box">
        <h2>Lorem ipsum dolor sit amet</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lacus tellus, consequat sed tincidunt ac, hendrerit non purus. Sed accumsan dolor vel purus mattis congue. In ac lacus sed mi sollicitudin vulputate.</p>
    </div>
    <div class="box">
        <h2>Lorem ipsum dolor sit amet</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lacus tellus, consequat sed tincidunt ac, hendrerit non purus. Sed accumsan dolor vel purus mattis congue. In ac lacus sed mi sollicitudin vulputate.</p>
    </div>

    <div class="clear"></div>

    <div class="box fullwidth">
        <h2>@ViewBag.SiteName</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lacus tellus, consequat sed tincidunt ac, hendrerit non purus. Sed accumsan dolor vel purus mattis congue. In ac lacus sed mi sollicitudin vulputate. Suspendisse justo lectus.</p>
        <p>Ut massa lacus, euismod in vulputate scelerisque, venenatis in ante. Duis vitae leo non massa rhoncus porta sit amet vitae arcu. Nulla metus sapien, sodales ac risus in, ultrices egestas orci.</p>
        <p>Mauris id dignissim purus.</p>

        <br />

        <p>Facebook: <a href="#" target="_blank">@ViewBag.SiteName</a></p>
        <p>Twitter: <a href="#" target="_blank">@ViewBag.SiteName</a></p>
    </div>
    <div class="clear"></div>
</div>


<div class="clear"></div>
