@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="white-box legal">

    <h2>@ViewBag.Title</h2>

    <p>Last updated: August 02, 2015</p>
    <p>Please read these <strong>Terms and Conditions</strong> ("Terms and Conditions") carefully before using the <strong>@ViewBag.WebsiteLink</strong> website (the "Service") operated by @ViewBag.SiteName ("us", "we", or "our").</p>
    <p>Your access to and use of the Service is conditioned upon your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who wish to access or use the Service.</p>
    <p>By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you do not have permission to access the Service.</p>

    <h3>Communications</h3>
    <p>By creating an Account on our service, you agree to subscribe to newsletters, marketing or promotional materials and other information we may send. However, you may opt out of receiving any, or all, of these communications from us by following the unsubscribe link or instructions provided in any email we send.</p>

    <h3>Availability, Errors and Inaccuracies</h3>
    <p>We are constantly updating product and service offerings on the Service. We may experience delays in updating information on the Service and in our advertising on other web sites. The information found on the Service may contain errors or inaccuracies and may not be complete or current. Products or services may be misplaced, described inaccurately, or unavailable on the Service and we cannot guarantee the accuracy or completeness of any information found on the Service.</p>
    <p>We therefore reserve the right to change or update information and to correct errors, inaccuracies, or omissions at any time without prior notice.</p>

    <h3>Content</h3>
    <p>Our Service allows you to post, link, store, share and otherwise make available certain information, text, graphics, videos, or other material (“Content”). You are responsible for the Content that you post on or through the Service, including its legality, reliability, and appropriateness.</p>
    <p>By posting Content on or through the Service, You represent and warrant that: (i) the Content is yours (you own it) and/or you have the right to use it and the right to grant us the rights and license as provided in these Terms, and (ii) that the posting of your Content on or through the Service does not violate the privacy rights, publicity rights, copyrights, contract rights or any other rights of any person or entity. We reserve the right to terminate the account of anyone found to be infringing on a copyright.</p>
    <p>You retain any and all of your rights to any Content you submit, post or display on or through the Service and you are responsible for protecting those rights. We take no responsibility and assume no liability for Content you or any third party posts on or through the Service. However, by posting Content using the Service, you grant us the right and license to use, modify, publicly perform, publicly display, reproduce, and distribute such Content on and through the Service. You agree that this license includes the right for us to make your Content available to other users of the Service, who may also use your Content subject to these Terms.</p>
    <p>IcanbeCreative Inc. has the right, but not the obligation to monitor and edit all Content provided by users.</p>
    <p>In addition, Content found on or through this Service are the property of Icanbecreative Inc. or used with permission. You may not distribute, modify, transmit, reuse, download, repost, copy, or use said Content, whether in whole or in part, for commercial purposes or for personal gain, without express advance written permission from us.</p>

    <h3>Intellectual Property</h3>
    <p>The Service and its original content (excluding Content provided by users), features and functionality are and will remain the exclusive property of @ViewBag.SiteName. and its licensors.</p>

    <h3>Links To Other Web Sites</h3>
    <p>Our Service may contain links to third party web sites or services that are not owned or controlled by @ViewBag.SiteName.</p>
    <p>IcanbeCreative Inc. has no control over, and assumes no responsibility for the content, privacy policies, or practices of any third party web sites or services. We do not warrant the offerings of any of these entities/individuals or their web sites.</p>

    <h3>Changes</h3>
    <p>We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will provide at least 30 days notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.</p>
    <p>By continuing to access or use our Service after any revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, you are no longer authorized to use the Service.</p>

    <p>You acknowledge and agree that @ViewBag.SiteName. shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such third party web sites or services.</p>

    <p>We strongly advise you to read the terms and conditions and privacy policies of any third party web sites or services that you visit.</p>

    <h3>Contact Us</h3>
    <p>If you have any questions about these Terms, please contact us.</p>
    <p>@ViewBag.Email</p>
</div>